/*.form-section, .page-section, ul.page-section*/ 
.form-all{
 -webkit-animation: slideOut 3s forwards;
 -moz-animation: slideOut 3s forwards;
 animation: slideOut 3s forwards;  
 -webkit-animation: slideIn 3s forwards;
 -moz-animation: slideIn 3s forwards;
 animation: slideIn 3s forwards;
 background-color: white;
 box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
} 
@-webkit-keyframes slideIn {
 0% {
  transform: translateX(-900px);
 }
 100% {
  transform: translateX(0);
 }
}
@-moz-keyframes slideIn {
 0% {
  transform: translateX(-900px);
 }
 100% {
  transform: translateX(0);
 }
} 
@keyframes slideIn {
 0% {
  transform: translateX(-900px);
 }
 100% {
  transform: translateX(0);

 }
}

@-webkit-keyframes slideOut {
    0% {
     transform: translateX(-900px);
    }
    100% {
     transform: translateX(0);
    }
   }
   @-moz-keyframes slideOut {
    0% {
     transform: translateX(-900px);
    }
    100% {
     transform: translateX(0);
    }
   } 
   @keyframes slideOut {
    0% {
     transform: translateX(-900px);
    }
    100% {
     transform: translateX(0);
   
    }
   }


   /*Drangna Solution*/
   ul.form-section {
    -webkit-animation : animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
    -moz-animation : animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
    animation : animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}
@-webkit-keyframes animShowNext {
from {
opacity: 0; 
 -webkit-transform: translate3d(-100px,0,0);
transform: translate3d(-100px,0,0);
}
}
@-moz-keyframes animShowNext {
from { 
  opacity: 0; 
  -moz-transform: translate3d(-100px,0,0);
transform: translate3d(-100px,0,0);
}
}
@keyframes animShowNext {
from { opacity: 0;
-webkit-transform: translate3d(-100px,0,0);
-moz-transform: translate3d(-100px,0,0);
transform: translate3d(-100px,0,0);
}
} 