
.form-all .qq-upload-button, .form-all .form-submit-button, .form-all .form-submit-reset, .form-all .form-submit-print {
    width : 100%;
    max-width : 620px;
}

.jotform-form {
    padding : 0;
}

.form-textbox {

}

#input_151 {
    border : 0px hidden;
}

#input_152 {
    border : 0px hidden;
}

#input_153 {
    border : 0px hidden;
}

#input_154 {
    border : 0px hidden;
}

#input_155 {
    border : 0px hidden;
}

#input_158 {
    border : 0px hidden;
}

#input_157 {
    border : 0px hidden;
}

#input_156 {
    border : 0px hidden;
}

#input_266 {
    border : 0px hidden;
}

#input_267 {
    border : 0px hidden;
}

.form-input-wide {

}

#input_268 {
    border : 0px hidden;
}

