/*Replace a text using CSS*/

button {
    visibility: hidden;
  }
  button:after {
    content:'goodbye'; 
    visibility: visible;
    display: block;
    position: absolute;
    background-color: red;
    padding: 5px;
    top: 2px;
  }

  span#input_52_1005_price,
  span#input_52_1004_price,
  span#input_52_1002_price {
    visibility: hidden;
}

  span#input_52_1005_price:after,
  span#input_52_1004_price:after,
  span#input_52_1002_price:after {
    content: "Not Free";
    visibility: visible;
    display: block;
    position: absolute;
}


li.ht {
  visibility: hidden;
}

li.ht:before {
  content: 'Hello';
  visibility: visible;
  display: block;
  position: absolute;
  text-indent: 0;
}

li.ht {
  visibility: hidden;
}

li.ht:before {
  content: 'Hello';
  visibility: visible;
  display: contents;
  text-indent: 0;
  padding: 1px 20px;
  align-items: center;
  justify-content: center;
}

.language-dd .lang-list li.ht {
  visibility: hidden;
}

.language-dd .lang-list li.ht {
  content: 'Hello';
  visibility: visible;
  display: contents;
  text-indent: 0;
  padding: 1px 20px;
  align-items: center;
  justify-content: center;
}


html[lang="ht"] > body > form.jotform-form > div.form-all > div.cont > div.language-dd > div.dd-placeholder{
  visibility: hidden;
}

html[lang="ht"] > body > form.jotform-form > div.form-all > div.cont > div.language-dd > div.dd-placeholder.en::after{
  content: 'Hello';
  visibility: visible;
  display: contents;
  text-indent: 0;
  padding: 1px 20px;
  align-items: center;
  justify-content: center;
}

html[lang="ht"] > body > form.jotform-form > div.form-all > div.cont > div.language-dd > div.dd-placeholder{
	color: #ffffff !important;
}

html[lang="ht"] > body > form.jotform-form > div.form-all > div.cont > div.language-dd > div.dd-placeholder.en::after{
	content: "Hello" !important;
	color: #666 !important;
	position: absolute !important;
	left: 32px !important;
}


.language-dd .lang-list li.ht {
  visibility: hidden;
}

.language-dd .lang-list li.ht:before {
  content: 'Kreyòl Ayisyen';
  visibility: visible;
  display: contents;
  text-indent: 0;
  padding: 1px 20px;
  align-items: center;
  justify-content: center;
}