li#id_1214 {
    width: 330px !important;
}
li#id_2477 {
    width: 330px !important;
}

li#id_2481 {
    width: 330px !important;
}
li#id_2483 {
    width: 330px !important;
}

li#id_2465 {
    width: 330px !important;
}
li#id_2469 {
    width: 330px !important;
}
li#id_2475 {
    width: 330px !important;
}
li#id_2471 {
    width: 330px !important;
}

li#id_2453 {
width: 330px !important;
}

li#id_2457 {
width: 330px !important;
}
li#id_2459 {
width: 330px !important;
}
li#id_2463 {
width: 330px !important;
}

li#id_1217 {
width: 330px !important;
}
li#id_2441 {
width: 330px !important;
}

li#id_2445 {
width: 330px !important;
}

li#id_2447 {
width: 330px !important;
}
li#id_2451 {
width: 330px !important;
}
li#id_1218 {
width: 330px !important;
}
li#id_2429 {
width: 330px !important;
}

li#id_2433 {
width: 330px !important;
}
li#id_2435 {
width: 330px !important;
}
li#id_2439 {
width: 330px !important;
}
li#id_2772 {
width: 330px !important;
}
li#id_2774 {
width: 330px !important;
}
li#id_2780 {
width: 330px !important;
}
li#id_2784 {
width: 330px !important;
}
/*componenet 7*/
li#id_833 {
width: 330px !important;
}
